                       LIST
       * List is an ordered collection of elements.
       * list are mutable.
       * Each element or value that is inside of a list is called an item.
       * A list is created by placing all the items inside square brackets [] ,separated by commas.
       * A list can also have another list as an item.It is also called as an nested list.
       Eg : list1=[1,'a',spartaaa]

In [3]:
#LIST

li=[1,"a",2,"b",3,"c"]
li[2]

2

In [4]:
li=[1,"a",2,"b",3,"c"]
li[1:4]

['a', 2, 'b']

In [5]:
type(li)

list

In [6]:
li[-2]

3

Changing the element at 2nd index

In [7]:
li=[1,"a",2,"b",3,"c"]
li[2]=200

In [8]:
li

[1, 'a', 200, 'b', 3, 'c']

Appending a new element

In [9]:
li=[1,"a",2,"b",3,"c"]
li.append("numbers")
li

[1, 'a', 2, 'b', 3, 'c', 'numbers']

Poping a element

In [10]:
li=[1,"a",2,"b",3,"c"]
li.pop()
li

[1, 'a', 2, 'b', 3]

Reversing Elements in a list

In [11]:
li=[1,"a",2,"b",3,"c"]
li.reverse()
li

['c', 3, 'b', 2, 'a', 1]

Inserting element at a specified index

In [12]:
li=[1,"a",2,"b",3,"c"]
li.insert(2,"Python")
li

[1, 'a', 'Python', 2, 'b', 3, 'c']

Sorting a list

In [13]:
li=["mango","banana","orange","guava","apple","grapes"]
li.sort()
li

['apple', 'banana', 'grapes', 'guava', 'mango', 'orange']

Concatenating list

In [14]:
l1 = [1,2,3]
l2 = ["a","b","c"]
l1+l2

[1, 2, 3, 'a', 'b', 'c']

Repeating elements

In [19]:
li=[1,"a",True]
li*4

[1, 'a', True, 1, 'a', True, 1, 'a', True, 1, 'a', True]

Extend the list

In [20]:
li=["jan","feb","mar","apr","may"]
li.extend(["jun","july"])
li

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july']

Removing the element from list

In [21]:
li=["ant","bee","moth","fly"]
li.remove("moth")
li

['ant', 'bee', 'fly']

Count the elements in the list

In [22]:
li=["bee","ant","moth","ant","fly"]
li.count("bee")

1

In [23]:
li.count("ant")

2

              DICTIONARY
       * Dictionary is a collection which is unordered,changeable,indexed.
       * Dictionary are written by curly brackets{}.
       * Python dictionary are defined into two elements keys and values.
       * It consists of a collection of key-value pairs.
       * Dictionary is mutable.
       Eg : Fruit={"Apple":10,"Orange":31}

In [24]:
#DICTIONARY

In [26]:
Fruit={"Apple":20,"Orange":27,"Grapes":30,"Banana":35,"Guava":40}
type(Fruit)

dict

Extracting Keys

In [28]:
Fruit={"Apple":10,"Orange":20,"Grapes":30,"Mango":40}
Fruit.keys()

dict_keys(['Apple', 'Orange', 'Grapes', 'Mango'])

Extracting Values

In [29]:
Fruit={"Apple":10,"banana":20,"Orange":30,"Grapes":40}
Fruit.values()

dict_values([10, 20, 30, 40])

Adding a new element

In [30]:
fruit={"Apple":10,"Orange":20,"Grapes":30,"Banana":40}
fruit["Mango"]=50
fruit

{'Apple': 10, 'Orange': 20, 'Grapes': 30, 'Banana': 40, 'Mango': 50}

Changing an existing elements

In [31]:
fruit={"Apple":10,"Banana":20,"Orange":30,"Grapes":40}
fruit["Orange"]=90
fruit

{'Apple': 10, 'Banana': 20, 'Orange': 90, 'Grapes': 40}

Updating one dictionary elements with another

In [32]:
fruit1={"Apple":10,"Banana":20}
fruit2={"Grapes":30,"Mango":50}
fruit1.update(fruit2)
fruit1

{'Apple': 10, 'Banana': 20, 'Grapes': 30, 'Mango': 50}

Poping an element

In [33]:
fruit={"Apple":10,"Orange":20,"Grapes":30,"Guava":40}
fruit.pop("Orange")
fruit

{'Apple': 10, 'Grapes': 30, 'Guava': 40}

                        SETS
         * Set is an unordered and unidexed collection of elements enclosed with {}.     
         * Set is an unorderd collection datatype that is iterable,mutable and has no duplicate elements.
         * Set is a collection of objects.
         * It is used to carry mathematical set operations like union,intersection,difference and symmentric difference.
         Eg : s1={1,"a",cat}

In [34]:
#set

In [36]:
s1 = {1,"a","spartaaaa",10}
s1

{1, 10, 'a', 'spartaaaa'}

Adding a new element

In [39]:
s1={1,"a",True,2,"b",False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

Updating multiple elements

In [40]:
s1={1,"a",True,2,"b",False}
s1.update([10,20,30])
s1

{1, 10, 2, 20, 30, False, 'a', 'b'}

Removing an element

In [41]:
s1={1,"a",True,2,"b","False"}
s1.remove("b")
s1

{1, 2, 'False', 'a'}

Union of two sets

In [42]:
s1={1,2,3}
s2={"a","b","c"}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

Intersection of two sets

In [43]:
s1={1,3,5,7,8,10,13,15,17,18}
s2={5,7,18,13,98,100}
s1.intersection(s2)

{5, 7, 13, 18}

                        TUPLES
      * A tuple is a collection of objects which are ordered and immutable.
      * Tuples are sequence just as like list in python.
      * Tuples are enclosed within ().
      * It is similar to list in terms of indexing,nested objects and repetition.
      Eg : tup=(abi,"1",True)

In [44]:
#tuple

In [45]:
tup1 = (1,"a",True,2,"b",False)
tup1

(1, 'a', True, 2, 'b', False)

In [47]:
type(tup1)

tuple

Extracting individual elements

In [48]:
tup1=(1,"abi",2,"indhu",3,"paramu",4,"kavi")
tup1[3]

'indhu'

In [49]:
tup1[-2]

4

In [53]:
tup1[1:5]

('abi', 2, 'indhu', 3)

Length of tuple

In [54]:
tup1=(1,"abi",2,"kavi",3,"kitty",4,"cat")
len(tup1)

8

Concatenating tuples

In [55]:
tup1=(1,2,3,4)
tup2=(7,8,9,10)
tup1+tup2

(1, 2, 3, 4, 7, 8, 9, 10)

Repeating tuple elements

In [57]:
tup1=('spartaa',3000)
tup1*3

('spartaa', 3000, 'spartaa', 3000, 'spartaa', 3000)

Repeating and concatenating

In [59]:
tup1=('spartaaa',30000)
tup2=('happy',"1")
tup1*3+tup2

('spartaaa', 30000, 'spartaaa', 30000, 'spartaaa', 30000, 'happy', '1')

Minimum value

In [60]:
tup1=(1,3,5,2,7,10)
min(tup1)

1

Maximum value

In [61]:
tup1=(50,7,20,100,10000,200)
max(tup1)

10000

                          STRINGS
    * Strings in python is a sequence of characters.
    * It is a derived data type.
    * Strings are immutable.
    * This means that once you define it can be changed.
    Eg: s1="Hello world

In [65]:
str1="I am learning python in Letsupgrade"

In [63]:
str1

'I am learning python in Letsupgrade'

In [64]:
type(str1)

str

Extracting individual characters

In [66]:
my_string="My name is Aparna"

In [67]:
my_string[1]

'y'

In [68]:
my_string[-2]

'n'

In [69]:
my_string[2:7]

' name'

Finding length of string

In [70]:
my_string="I like to dance"
len(my_string)

15

Converting string to lower case

In [71]:
my_string.lower()

'i like to dance'

Converting string to upper case

In [72]:
my_string.upper()

'I LIKE TO DANCE'

Replacing a substring

In [74]:
my_string.replace('dance','sing')

'I like to sing'

Number of occurence of substring

In [75]:
new_string = "hello hello world"

In [76]:
new_string.count("hello")

2

Finding the index of substring

In [77]:
str1='This is spartaa!!!!'

In [78]:
str1.find('spartaa')

8

Spilliting a string

In [79]:
fruit='I like Apples,Mangoes,Banana'

In [80]:
fruit.split(',')

['I like Apples', 'Mangoes', 'Banana']